/* Move down content because we have a fixed navbar that is 50px tall */
 /* ------------------------------------------------
    CUSTOM WEB FONTS
--------------------------------------------------*/
@font-face {
    font-family: 'MerriweatherRegular';
    src: url('fonts/merriweather-regular-webfont.eot');
    src: url('fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/merriweather-regular-webfont.woff') format('woff'),
         url('fonts/merriweather-regular-webfont.ttf') format('truetype'),
         url('fonts/merriweather-regular-webfont.svg#MerriweatherRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MerriweatherBold';
    src: url('fonts/merriweather-bold-webfont.eot');
    src: url('fonts/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/merriweather-bold-webfont.woff') format('woff'),
         url('fonts/merriweather-bold-webfont.ttf') format('truetype'),
         url('fonts/merriweather-bold-webfont.svg#MerriweatherBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}
body {
  padding-top: 50px;
  padding-bottom: 0px;
  height: 100%;
  background-image: url(../img/nice_snow.png);
  background-repeat: repeat;


}
a.anchor-top{
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}
a.anchor {
  display: block;
  position: relative;
  top: -45px;
  visibility: hidden;
}
.jumbotron {
  padding: 30px;
  height: 500px;
  margin-bottom: 30px;
  color: white;
  background-image: url(../img/jumbo_tpp_dark2.png);
  background-repeat:no-repeat;
  top:0;
  left:0;
  text-shadow: black 0.1em 0.1em 0.1em;
  z-index: -1;
}
.jumbotron .container {
  /* Jumbotron text vertical align */
  margin-top: 90px; 
}
.navbar-inverse {
  background-color: #000122;
  border-color: #080808;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #001155;
}
a {
  color: #003366;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #3790e8;
  text-decoration: none;
}
.about {
  font-size: 13pt;
}