/* Move down content because we have a fixed navbar that is 50px tall */
html {
    height: 100%;
}
body {
  /* Margin above jumbotron image - necessary for navbar*/
  padding-top: 50px;
  /* Margin underneath jumbotron image */
  padding-bottom: 10px;
  height: 100%;
  background-image: url(../img/nice_snow.png);
  background-repeat: repeat;
}
.jumbotron {
  padding: 30px;
  height: 100%;
  width: 100%;
  margin-bottom: -30px;
  color: white;
  background-image: url(../img/jumbo_tpp_dark2.jpg);
  background-repeat:no-repeat;
  top:0;
  left:0;
  text-shadow: black 0.1em 0.1em 0.1em;
  z-index: -1;
}
.jumbotron .container {
  /* Jumbotron text vertical align */
  margin-top: 13%; 
}
/* Navbar background */
.navbar-inverse {
  background-color: #001133;
  border-color: #080808;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #001155;
}
/* Navbar Text */
.navbar-inverse .navbar-text {
  color: #ddd;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ddd;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #3790e8;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #3790e8;
  background-color: #080808;
}
a {
  color: #005588;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #3790e8;
  text-decoration: none;
}
a.anchor-top{
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}
a.anchor {
  display: block;
  position: relative;
  padding-bottom: 55px;
  visibility: hidden;
}
.about {
  font-size: 12pt;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}